@media only screen and (max-width: 1000px) {
   * {
    font-size: 21px;
    text-align: left;
  }
}

@media only screen and (max-width: 680px) {
  * {
    font-size: 20px;
    text-align: left;
  }
}
.navbar {
    position: fixed;
    right: 150px;
    z-index: 1;
    opacity: 85%;
    color: rgb(173, 255, 47);
    }

    .navsec:hover {
      color: rgb(132, 6, 6);
    }
    .navsec {
      color: rgb(173, 255, 47);
    }
    header {
      background-image: url(https://scontent.fhnl3-2.fna.fbcdn.net/v/t1.18169-9/14632978_514763858720246_1972351838600844199_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=cdbe9c&_nc_ohc=QbGSLwphbF0AX9Osxlc&_nc_ht=scontent.fhnl3-2.fna&oh=00_AT9rcvoOYqyHN4nrBSf0kQyjC7xXdcBZySMZsvwSWazMRg&oe=626C84E0);
      text-align: center;
      height: 100px;
      font-size: 45px;
    }

    body {
        font-family: sans-serif;
          font-size: 18px;
          font-weight: 100px;
          background-color: black;
          color: darkred;
          text-align: justify;
        }
        #intro {
          text-align: left;
          font-size: 20px;
        }
        /*education start*/
        .educ-loc {
          font-weight: bold;
          text-decoration: underline;
        }
        .training:hover {
         color: chartreuse;
        }
        /*education end*/
        .projects-section-header {
          font-weight: bold;
        }
        .project-tile a{
          font-size: 20px;
        }
        .project-project-tile {
        font-size: 20px;
         }

        .project-project-tile:hover {
         color: chartreuse;
         }
        .myemail {
           text-align: left;
           color: turquoise;
          }
        .emaillogo {
          width: 50px;
          height: 50px;
        }
        #social {
          text-align: left;
          color: turquoise;
        }
        #contact {
          font-weight: bolder;
        }
        .updated {
          text-align: right;
          margin: auto 0;
          font-size: medium;
        }
        #profile-link {
          display: inline-block;
          font-size: 25px;
          color: turquoise;
        }
        #profile-link:hover {
          color: chartreuse;
        }
