@media only screen and (max-width: 1000px) {
   * {
    font-size: 21px;
    text-align: left;
  }
}

@media only screen and (max-width: 680px) {
  * {
    font-size: 20px;
    text-align: left;
  }
}

.navbar {
    position: fixed;
    right: 150px;
    z-index: 1;
    color: rgb(3, 5, 0);
    }

    .navsec:hover {
      color: rgb(2, 15, 1);
    }
    .navsec {
      color: rgb(10, 43, 5);
      font-weight: bolder;
      font-size: 25px;
    }

    header {
      text-align: center;
      height: 110px;
      font-size: 45px;
      border-radius: 120px;
    }
    .back-image {
      background-image:  url(https://scontent.fhnl3-1.fna.fbcdn.net/v/t31.18172-8/12719532_427217377474895_4696267740312713302_o.jpg?_nc_cat=101&ccb=1-5&_nc_sid=19026a&_nc_ohc=xCIiQFlk4bQAX9NsKQ_&tn=rLTSnVOVCNLk4ORQ&_nc_ht=scontent.fhnl3-1.fna&oh=00_AT9A7h2W2BRNCQvFVrdt2jRsNvEUqcOcvWEMAapct-OMpw&oe=6273DECE);
      }

    .welcome-img {
      border: groove 3px red;
      border-radius: 100px;
    }
    .welcome-header {
    font-size: 200%;
    color:black
    }

    body {
        font-family: sans-serif;
          font-size: 18px;
          font-weight: 100px;
          background-color: black;
          color: rgb(167, 16, 16);
          text-align: justify;
        }
        #intro {
          text-align: justify;
          font-size: 20px;
          color: rgb(77, 8, 104);
        }
        /*education start*/
        .educ-loc {
          font-weight: bold;
          text-decoration: underline;
        }
        .training:hover {
         color: chartreuse;
         
        }
        /*education end*/
        .projects-section-header {
          font-weight: bold;
        }
        .project-tile a {
          font-size: 20px;
        }
        .project-project-tile {
        font-size: 20px;
         }

        .project-project-tile:hover {
         color: chartreuse;
         }
        .myemail {
           text-align: left;
           color: turquoise;
          }
        .emaillogo {
          width: 50px;
          height: 50px;
        }
        #hobbies {
          color: darkviolet;
          font-size: 20px;
        }
        #social {
          text-align: left;
          color: turquoise;
        }
        #contact {
          font-weight: bolder;
          width: fit-content;
          border: 4px solid turquoise;
          padding: 10px;
        }
        .cert:hover a {
          color: chartreuse;
        }
        .updated {
          text-align: right;
          margin: auto 0;
          font-size: medium;
        }
        #profile-link {
          display: inline-block;
          font-size: 25px;
          color: turquoise;
        }
        #profile-link:hover {
          color: chartreuse;
        }
